Grouping and Aggregating with Pandas

In [1]:
import pandas as pd

df = pd.DataFrame([[9,4,8,9],
[8,10,7,6],[7,6,8,5]],columns=['Maths', 'English','Science','History'])

print(df)

   Maths  English  Science  History
0      9        4        8        9
1      8       10        7        6
2      7        6        8        5

In [2]:
df.sum()

Maths      24
English    20
Science    23
History    20
dtype: int64

In [3]:
df.describe()

       Maths    English   Science   History
count    3.0   3.000000  3.000000  3.000000
mean     8.0   6.666667  7.666667  6.666667
std      1.0   3.055050  0.577350  2.081666
min      7.0   4.000000  7.000000  5.000000
25%      7.5   5.000000  7.500000  5.500000
50%      8.0   6.000000  8.000000  6.000000
75%      8.5   8.000000  8.000000  7.500000
max      9.0  10.000000  8.000000  9.000000

In [4]:
df.agg(['sum','min','max'])

     Maths  English  Science  History
sum     24       20       23       20
min      7        4        7        5
max      9       10        8        9

Grouping in Pandas

In [5]:
df.groupby(by=['Maths'])

In [6]:
a = df.groupby('Maths')
a.first()

       English  Science  History
Maths
7            6        8        5
8           10        7        6
9            4        8        9

In [7]:
b = df.groupby(['Maths','Science'])
b.first()

               English  History
Maths Science
7     8              6        5
8     7             10        6
9     8              4        9

In [8]:
import numpy as np
import pandas as pd

dataset = pd.read_csv("diamonds.csv")

print(dataset.head(5))

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

In [9]:
dataset.groupby('cut').sum()

,Unnamed: 0,carat,color,clarity,depth,table,price,x,y,z
cut,,,,,,,,,,
Fair,38877246,1684.28,EEFFFHHHGEJGEGIEFGFJIJJFEHHHGFGHDJJHEIGIHGDFFE...,VS2SI2SI2VS2VS2SI2SI2SI2SI1I1SI2VVS1SI2VS1SI1V...,103107.1,95076.6,7017600,10057.50,9954.07,6412.26
Good,121545813,4166.10,EJJJJIFEHDDHHIHEEFHEIGFFEEDGFEGEFEIFFGGFGEHIID...,VS1SI2SI1SI1SI1SI2VS1VS1SI1VS2VS1SI2SI2SI1SI1V...,305967.0,287955.9,19275009,28645.08,28703.75,17855.42
Ideal,626005490,15146.84,EJJIIIJGIIIDDGIEIEGGIGIFEFEFFGEFDEHDHGDEIDFDGF...,SI2VS1SI2SI2SI2SI2SI1VS1SI1SI2VS1SI1SI1VVS2VVS...,1329899.3,1205814.4,74513487,118691.07,118963.24,73304.61
Premium,353052483,12300.95,EIFEEIFEDJDIGEHHGHHHIHEGGIFFHEFGGDDGGGGDEFEEEE...,SI1VS2SI1SI2I1VS1SI1VS2VS2SI2SI1SI2SI1VVS1SI1S...,844901.1,810167.4,63221498,82385.88,81985.82,50297.49
Very Good,315307738,9742.70,JIHHJEHJJGJDFFFEEDDHEHFIIGDHFEDDEEDEGEDGFDDEHF...,VVS2VVS1SI1VS1SI1VS2VS1SI1SI1VVS2VS2VS2VS1VS1V...,746888.4,700226.2,48107623,69359.09,69713.45,43009.52

In [10]:
dataset.groupby(['cut','color']).agg('min')

                 Unnamed: 0  carat clarity  depth  table  price     x     y  \
cut       color
Fair      D             677   0.25      I1   52.2   52.0    536  4.09  4.11
          E               9   0.22      I1   51.0   49.0    337  3.87  3.78
          F              98   0.25      I1   52.3   50.0    496  4.19  4.15
          G             228   0.23      I1   43.0   53.0    369  0.00  0.00
          H             129   0.33      I1   52.7   50.0    659  4.40  4.32
          I             353   0.41      I1   50.8   49.0    735  4.62  4.66
          J             256   0.30      I1   55.0   52.0    416  4.24  4.16
Good      D              43   0.23      I1   54.3   52.0    361  3.83  3.85
          E               3   0.23      I1   56.3   53.0    327  3.83  3.85
          F              36   0.23      I1   56.2   52.0    357  0.00  0.00
          G             185   0.23      I1   56.2   53.0    394  3.94  3.90
          H              38   0.25      I1   56.0   51.0    368  4.04  4.06
          I              21   0.30      I1   56.1   51.0    351  4.19  4.19
          J               5   0.28      I1   56.2   52.0    335  4.22  4.23
Ideal     D              63   0.20      I1   58.5   52.0    367  3.81  3.77
          E               1   0.20      I1   58.3   52.0    326  3.76  3.73
          F             109   0.23      I1   58.0   52.4    408  0.00  3.92
          G              52   0.23      I1   58.8   52.0    361  0.00  0.00
          H             131   0.23      I1   58.3   52.0    357  3.94  3.97
          I              17   0.23      I1   58.4   43.0    348  3.94  3.90
          J              12   0.23      I1   43.0   53.0    340  3.93  3.90
Premium   D              55   0.20      I1   58.0   52.0    367  0.00  0.00
          E               2   0.20      I1   58.0   52.0    326  3.79  3.75
          F              13   0.20      I1   58.0   51.0    342  3.73  3.71
          G              69   0.23      I1   58.0   52.0    382  3.95  3.92
          H              73   0.23      I1   58.0   51.0    368  0.00  0.00
          I               4   0.23      I1   58.0   52.0    334  3.97  3.94
          J              57   0.30      I1   58.0   54.0    363  4.22  4.21
Very Good D              29   0.23      I1   57.5   52.0    357  3.86  3.85
          E              22   0.20      I1   57.7   44.0    352  3.74  3.71
          F              30   0.23      I1   56.9   52.0    357  3.84  3.86
          G              26   0.23      I1   57.1   52.0    354  3.88  3.92
          H               8   0.23      I1   56.8   52.0    337  0.00  0.00
          I               7   0.24      I1   57.5   52.0    336  3.95  3.98
          J               6   0.24      I1   57.6   51.6    336  3.94  3.96

                    z
cut       color
Fair      D      2.49
          E      2.33
          F      2.32
          G      0.00
          H      2.84
          I      2.93
          J      2.72
Good      D      2.37
          E      2.31
          F      0.00
          G      0.00
          H      2.46
          I      2.67
          J      2.51
Ideal     D      2.33
          E      2.06
          F      0.00
          G      0.00
          H      1.41
          I      1.53
          J      2.46
Premium   D      0.00
          E      2.24
          F      0.00
          G      0.00
          H      0.00
          I      0.00
          J      2.59
Very Good D      2.35
          E      2.25
          F      2.36
          G      2.36
          H      0.00
          I      2.46
          J      2.48

In [11]:
agg_functions = {
    'price':['sum','mean','median','min','max','prod']
}

dataset.groupby(['color']).agg(agg_functions)

          price
            sum         mean  median  min    max prod
color
D      21476439  3169.954096  1838.0  357  18693    0
E      30142944  3076.752475  1739.0  326  18731    0
F      35542866  3724.886397  2343.5  342  18791    0
G      45158240  3999.135671  2242.0  354  18818    0
H      37257301  4486.669196  3460.0  337  18803    0
I      27608146  5091.874954  3730.0  334  18823    0
J      14949281  5323.818020  4234.0  335  18710    0